* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.container .imgBox {
    position: relative;
    width: 400px;
    height: 400px;
}

.container .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    display: none;
}